<div class="w-full overflow-y-hidden h-full flex gap-5 pb-3">

    <div *ngFor="let status of roadmapService.statuses"
        class="flex flex-col gap-4 min-w-[425px] max-w-[425px] overflow-hidden flex-grow">
        <h3 class="font-semibold text-gray-800">{{status.name}} ({{status.numberOfItems}})</h3>


        <div class="flex flex-col gap-5 overflow-auto">
            <div *ngFor="let item of status.items">
                <board-item [item]="item" [color]="status.color"></board-item>
            </div>
        </div>
    </div>
</div>