@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

label[required]::after {
    content: " *";
    color: red;
}
